section {
	border: 1px solid black;
}
td {
  border: 1px solid black;
  height: 2em;
  width: 5em;
  text-align: center;
}
.highlight {
  background-color: yellow;
}
/*ul.tabs {
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}*/
ul.tabs li {
	float: left;
	list-style-type: none;
	background-color: #f1f1f1;
	margin-right: 0.5em;
}
ul.tabs li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}
ul.tabs li:hover {
	background-color: #ddd;
}
ul.tabs li a:focus, .active {
	background-color: #ccc;
}
